
@model IEnumerable<WebApplication2.Models.Code>

@{
    ViewData["Title"] = "MyCode";
}
<header>
</header>
<body>
    <br/>
    <h1>
        My Code
    </h1>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</body>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeLanguge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descreption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-success" asp-action="MyDetails" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeLanguge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descreption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

</script>